* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: auto;
    margin: auto;
    margin-top: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.item {
    padding-left: 69px;
    padding-right: 69px;
    border-left: 1px solid;
    color: whitesmoke;
}

.button {
    border: none;
    outline: none;
    background: transparent;
}

.logo {
    padding-left: 30px;
}

.main-img {
    padding: none;
    margin: none;
    position: relative;
    bottom: 28px;
}

.headerMain {
    width: 1350px;
    height: 50px;
    position: fixed;
    z-index: 9999;
}
.scrolled.headerMain {
    background-color: white;
}
.scrolled.item {
    color: black;
    
}
.news-title {
    font-size: 48px;
    padding-left: 200px;
    position: relative;
    bottom: 30px;
    color: #5A5994;
}

.news-card {
    width: 1030px;
    height: 210px;
    margin-left: 200px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    margin-bottom: 43px;
}

.news-img {
    padding: 15px;
}

.news-headline {
    position: relative;
    font-size: 36px;
}

.news-text {
    padding-right: 15px;
    position: relative;
    bottom: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.footer {
    padding-bottom: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    display: inline-block;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.footer-link:not(:last-child) {
    margin-right: 15px;
}

.footer-nav {
    margin-right: auto;
    margin-left: 450px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link {
    margin-right: 21px;
}